---
title: Infrastructure
description: Administration et supervision de l'infrastructure
language: fr
theme: dark
color: cyan
statusStyle: dot
showStats: true
disableIndexing: true
headerStyle: clean
target: _blank
cardBlur: md
background:
  image: /images/wp.png
  opacity: 65
layout:
  Administration:
    style: row
    columns: 3
  Accès:
    style: row
    columns: 2
  Supervision:
    style: row
    columns: 2
