{{ domain }} {
    # L'API Agent doit rester non compressée : Portainer lit directement son JSON.
    reverse_proxy https://portainer-agent:9001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

