services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: unless-stopped
    command:
      - --admin-password-file
      - /run/secrets/portainer_admin_password
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
      - ./secrets/admin_password:/run/secrets/portainer_admin_password:ro
    networks:
      - proxy

volumes:
  portainer_data:

networks:
  proxy:
    external: true
    name: proxy
