{{ domain }} {
    import common
{% if not (termix_oidc_enabled | default(false) | bool) and (termix_authentik_enabled | default(false) | bool) %}
    route {
        import authentik
        reverse_proxy termix:8080
    }
{% else %}
    reverse_proxy termix:8080
{% endif %}
}
