(common) {
    encode zstd gzip

    handle_errors {
        @bad_gateway expression {err.status_code} == 502
        handle @bad_gateway {
            root * /usr/share/caddy/html
            rewrite * /error.html
            file_server
        }
    }
}

(authentik) {
    reverse_proxy /outpost.goauthentik.io/* authentik-server:9000

    forward_auth authentik-server:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
        trusted_proxies private_ranges
    }
}

import /etc/caddy/sites/*.caddy
