{{ domain }} {
    import common
{% if not (semaphore_oidc_enabled | default(false) | bool) %}
    route {
        import authentik
        reverse_proxy semaphore:3000
    }
{% else %}
    reverse_proxy semaphore:3000
{% endif %}
}
