services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    environment:
      APP_URL: "https://{{ domain }}"
{% if beszel_authentik_enabled | default(false) | bool %}
      TRUSTED_AUTH_HEADER: X-Authentik-Email
      USER_CREATION: "true"
{% endif %}
    volumes:
      - beszel_data:/beszel_data
      - beszel_socket:/beszel_socket
    networks:
      - proxy

volumes:
  beszel_data:
  beszel_socket:

networks:
  proxy:
    external: true
    name: proxy
